.galerySection
    display: grid
    grid-template-columns: 1fr 1fr
    justify-items: center
    row-gap: .5rem
    width: 90%
    max-width: 50rem
    margin: 1rem auto
@media screen and (min-width:700px)
    .galerySection
        grid-template-columns: 1fr 1fr 1fr
@media screen and (min-width:1024px)
    .galerySection
        grid-template-columns: 1fr 1fr 1fr 1fr
        max-width: 70rem
        margin: 2rem auto